@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Hanken Grotesk", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

.display {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 736px;
  height: 512px;
  border-radius: 34px;
  -webkit-box-shadow: 30px 30px 70px -25px rgb(229, 232, 255);
  -moz-box-shadow: 30px 30px 70px -25px rgb(229, 232, 255);
  box-shadow: 30px 30px 70px -25px rgb(229, 232, 255);
}

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 34px;
  color: hsl(241, 100%, 89%);
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  text-align: center;
  padding: 0 60px;
}
.left-side .left-heading {
  font-size: 22px;
  top: 0;
  padding: 34px 0;
}
.left-side .result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: linear-gradient(180deg, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
}
.left-side .result h1 {
  font-size: 64px;
  color: hsl(0, 0%, 100%);
}
.left-side .result h4 {
  font-size: 18px;
  color: hsl(246, 100%, 74%);
}
.left-side .message h2 {
  font-size: 30px;
  color: hsl(0, 0%, 100%);
  padding: 32px 0 18px 0;
}
.left-side .message p {
  font-size: 18px;
}

.right-side {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  color: hsl(224, 30%, 27%);
}
.right-side .right-heading {
  text-align: left;
  align-items: left;
  padding: 34px 0 10px 0;
  font-size: 22px;
}
.right-side .stats div {
  display: grid;
  grid-template-columns: 1fr 3fr 1.76fr;
  height: 56px;
  border-radius: 12px;
  margin: 16px 0;
  font-size: 18px;
  align-items: center;
}
.right-side .stats div:nth-of-type(1) {
  background: hsla(0, 100%, 67%, 0.05);
}
.right-side .stats div:nth-of-type(1) h4 {
  color: hsl(0, 100%, 67%);
}
.right-side .stats div:nth-of-type(2) {
  background: hsla(39, 100%, 56%, 0.05);
}
.right-side .stats div:nth-of-type(2) h4 {
  color: hsl(39, 100%, 56%);
}
.right-side .stats div:nth-of-type(3) {
  background: hsla(166, 100%, 37%, 0.05);
}
.right-side .stats div:nth-of-type(3) h4 {
  color: hsl(166, 100%, 37%);
}
.right-side .stats div:nth-of-type(4) {
  background: hsla(234, 85%, 45%, 0.05);
}
.right-side .stats div:nth-of-type(4) h4 {
  color: hsl(234, 85%, 45%);
}
.right-side .stats div img {
  justify-self: center;
}
.right-side .stats div span {
  color: hsl(0, 0%, 60%);
}
.right-side button {
  width: 100%;
  height: 56px;
  border-radius: 28px;
  border: none;
  cursor: pointer;
  margin: 25px 0;
  text-decoration: none;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;
  background: hsl(224, 30%, 27%);
  color: white;
}
.right-side button:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.attribution {
  padding: 10px 0 0 0;
  font-size: large;
}
.attribution a {
  text-decoration: none;
  background-image: linear-gradient(45deg, #fccf31, #f55555);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  animation: bg-animation 3s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@media screen and (max-width: 750px) {
  .display {
    align-items: start;
  }
  .container {
    grid-template-columns: 1fr;
    width: 100vw;
    height: 100vh;
    box-shadow: none;
  }
  .left-side {
    height: 43vh;
    border-radius: 0 0 34px 34px;
  }
  .left-side .left-heading {
    font-size: 15px;
    padding: 10px 0 0 0;
  }
  .left-side .left-heading h3 {
    margin: 28px 0 15px 0;
  }
  .left-side .result {
    width: 140px;
    height: 140px;
    border-radius: 70px;
  }
  .left-side .result h1 {
    font-size: 52px;
  }
  .left-side .result h4 {
    font-size: 15px;
  }
  .left-side .message h2 {
    font-size: 22px;
    padding: 25px 0 10px 0;
  }
  .left-side .message p {
    font-size: 15px;
  }
  .right-side {
    padding: 0 30px;
  }
  .right-side .right-heading {
    padding: 28px 0 8px 0;
    font-size: 15px;
  }
  .right-side .stats div {
    font-size: 15px;
  }
  .right-side .continue {
    margin: 8px 0;
  }
  .attribution {
    text-align: center;
    align-self: center;
  }
}/*# sourceMappingURL=style.css.map */